body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin:0;
}
.orange{
    color:orange;
}
.header{
    font-weight: 800;
    font-size: 60px;
    margin:20px 0px;
    padding-left: 15px;
    
}
.border-line{
    border-left: 5px solid red;
}

.font{
    font-weight: 500;
    padding-bottom: 20px;
    text-align: justify;
    padding-top: 20px;


}
.button{
    text-decoration:none;
    background-image: linear-gradient(tomato,red) ;
    padding: 10px 15px;
    color:white;
    border-radius: 5px;
    
    
}
.flexing{
    display: flex;
}
.width-half{
    width: 50%;
    margin:20px;
    padding:80px;
}
.width-half img{
    width:70%;
    padding-left: 20px;
}
.mission-header{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.mission{
    margin-left:7%;
    text-align:justify ;
    width:60%;
    background-color: cyan;
    border-radius: 30px;
    font-size: 17px;
    padding:25px;
    
}
.mission img{
    width:50%;

}
.vision{
    margin:0px 20px;
    width:60%;
     text-align:justify ;
     background-color: rgb(255, 251, 5);
    border-radius: 30px;
    font-size: 16px;
    padding: 25px;
}
.vision img{
    width:50%;

}
.goal{
    margin-right: 7%;
    width:60%;
    background-color: rgb(255, 72, 0);
    border-radius: 30px;
    font-size: 17px;
    padding: 25px;
}
.goal img{
    width:50%
}
.down-width{
    width:60%;
    padding-top: 160px;
}
.down-width img{
    width:60%;
    margin-left:24%;
}
.down-font{
    font-size:25px;
    margin-right:20% ;
}
.width{
    width:50%;
    margin-top: 10%;
    padding: 35px;
}
.width img{
    width:60%;
    margin-right:22%;
}
.width-font{
    margin-left:25% ;
    font-size: 25px;
}
.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom:40px;
    background-color: black;
    margin-top: 100px;
    color: white;
}
span{
    color:red;
}

